<h1>All My Songs</h1>
<table>
  <tbody>
      <% @songs.each do |song| %>
     <tr><%= link_to song.title, song_path(song)%></tr><br>
     <% end %>
  </tbody>
</table>

<%= link_to "Create New Song", new_song_path %>
<%= button_to 'Delete', song, :method => :delete %>
