<h1><%= @song.title %></h1>
<p>Artist: <%= @song.artist_name %></p>
<p>Genre: <%= @song.genre %></p>

<p>Release Year: <% if @song.release_year == nil %>This song has not been released yet<% else %><%= @song.release_year %><% end %></p>
